/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
routes/web.php
resources/views/common
resources/views/admin/index.blade.php
public
app/Http/Controllers/Admin/IndexController.php
/.htaccess


/css/app.css


/favicon.ico

public/index.php
/js/app.js


/robots.txt


/web.config


/Web.PHP
public/.htaccess
public/css/app.css
public/favicon.ico
public/index.php
public/js/app.js
public/robots.txt
public/web.config
routes/web.php
